<table border="2">

  <tr *ngIf="items">

    <th>Name</th>
    <th>Description</th>
    <th>Parent</th>
    <th>Type</th>
    <th>Priority</th>
    <th>Created At</th>
    <th>Created By</th>
    <th>EstimatedTime</th>
    <th>ProjectLinked</th>


  </tr>

  <tr *ngFor="let item of items">

    <td>{{item.name}}</td>
    <td>{{item.description}}</td>
    <td>{{item.parent}}</td>
    <td *ngIf="item.type==1">STORY</td>
    <td *ngIf="item.type==2">SUB_TASK</td>
    <td *ngIf="item.type==3">STORY</td>
    <td *ngIf="item.priority==1">URGENT</td>
    <td *ngIf="item.priority==2">HIGH</td>
    <td *ngIf="item.priority==3">LOW</td>
    <td>{{item.createdAt}}</td>
    <td>{{item.createdByName}}</td>
    <td>{{item.estimatedTime}}&nbsp; day(s)</td>
    <td>{{item.projectLinkedByName}}</td>
  </tr>

  <tr *ngIf="!items">
    Results not found
  </tr>

</table>

