

<div>
  <nav>
    <ul>
      <li>
        <a routerLink="view-item" role="button">View Items</a>
      </li>
      <li>
        <a routerLink="add-item" role="button">Add Item</a>
      </li>
      <li>
        <a routerLink="sign-up" role="button">Sign Up</a>
      </li>
    </ul>
  </nav>

</div>




